<html>
  <form>
    <div style="text-align-last: right; padding-right: 45%">
      <h1>Update Marks</h1>
      <input
        style="text-align-last: start"
        type="hidden"
        name="user_id"
        id="user_id"
        value="{{ data.user_id }}"
        #user_id
      /><br />
      <label><b>Student Name</b></label
      >&nbsp;&nbsp;&nbsp;&nbsp;
      <input
        style="text-align-last: start"
        type="text"
        name="name"
        id="name"
        #name
        value="{{ data.name }}"
      /><br />
      <label><b>Distributed Computing</b></label
      >&nbsp;
      <input
        style="text-align-last: start"
        type="text"
        name="distributed_computing"
        id="distributed_computing"
        value="{{ data.distributed_computing }}"
        #distributed_computing
      /><br />
      <label><b>Data Structures</b></label
      >&nbsp;
      <input
        style="text-align-last: start"
        type="text"
        name="data_structures"
        id="data_structures"
        value="{{ data.data_structures }}"
        #data_structures
      /><br />
      <label><b>Database Systems</b></label
      >&nbsp;
      <input
        style="text-align-last: start"
        type="text"
        name="database_systems"
        id="database_systems"
        value="{{ data.database_systems }}"
        #database_systems
      /><br />
      <label><b>Software Engineering</b></label
      >&nbsp;
      <input
        style="text-align-last: start"
        type="text"
        name="software_engineering"
        id="software_engineering"
        value="{{ data.software_engineering }}"
        #software_engineering
      /><br />

      <label><b>Big Data</b></label
      >&nbsp;
      <input
        style="text-align-last: start"
        type="text"
        name="big_data"
        id="big_data"
        value="{{ data.big_data }}"
        #big_data
      /><br /><br />
      <button
        type="submit"
        style="margin-right: 6%"
        (click)="
          Update(
            user_id.value,
            name.value,
            distributed_computing.value,
            data_structures.value,
            database_systems.value,
            software_engineering.value,
            big_data.value
          )
        "
      >
        Update
      </button>
      <button type="button" style="margin-right: 15px">
        <a routerLink="/home" style="text-decoration: none; color: black"
          >Back</a
        >
      </button>
    </div>
  </form>
</html>
